# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List common libraries for Data Science
- Table of commonly used libraries used by Data
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. Julia
 4. SQL

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Matplotlib
- Seaborn
- Plotly, ggplot
- dplyr
- caret

| Data Science Category | Tools |
|---|---|
| Programming languages | Python, R, SQL |
| ML and Big Data | Apache Spark, Hadoop, TensorFlow and PyTorch |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
---
**Herman Kandjimi**